.hablame-account-status-form .error {
  color: brown;
}

#edit-information {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

#edit-information > fieldset {
  width: 40%;
}

#edit-information > fieldset > legend {
  font-size: 18px;
}

#edit-information > fieldset > legend > span {
  background-color: #f3f4f9;
  border-bottom: 1px solid #e4e4e4;
}

.system-status-general-info__item.card.hablame{
  margin-left: 0;
}

.system-status-general-info__item-icon--hablame{
  background-image: url("../icon/icon-hablame.png");
  background-repeat: no-repeat;
}

.system-status-general-info__item-icon__hablame{
  display: inline-block;
  width: 2.625rem;
  height: 2.625rem;
  vertical-align: top;
}

.system-status-general-info__items.hablame{
  gap: 20px;
}

.system-status-general-info__items.hablame .system-status-general-info__item-details p strong{
  display: block;
}
