{#
/**
 * @file
 * Default theme implementation for the status report uptime widget info.
 *
 * Available variables:
 * - account: The UptimeRobot account profile.
 * - psp: The Public Static Page information.
 * - uptime: The uptime ration information.
 */
#}
{{ attach_library('hablame/styles') }}

<div class="system-status-general-info gin-layer-wrapper">
  <h2 class="system-status-general-info__header">{{ 'Hablame Account'|t }}</h2>
  <div class="system-status-general-info__items hablame">
    <div class="system-status-general-info__item card hablame">
      <span class="system-status-general-info__item-icon__hablame system-status-general-info__item-icon--hablame"></span>
      <div class="system-status-general-info__item-details">
        <h3 class="system-status-general-info__item-title">{{ 'Account data'|t }}</h3>
        {{ account.account }}
        {{ account.account_type }}
        {{ account.balance }}
        {{ account.description }}
      </div>
    </div>
    <div class="system-status-general-info__item card hablame">
      <span class="system-status-general-info__item-icon__hablame system-status-general-info__item-icon--hablame"></span>
      <div class="system-status-general-info__item-details">
        <h3 class="system-status-general-info__item-title">{{ 'Account Services Enabled'|t }}</h3>
        {{ account.service_account }}
        {{ account.service_sms }}
        {{ account.service_sms_blocked }}
        {{ account.service_callblasting }}
        {{ account.service_url }}
      </div>
    </div>
  </div>
</div>
